.card {
  flex: 0 0 33.333333%;

  display: flex;
  border-bottom: 0.7px solid #0000007a;
  padding: 10px 0;

  .card_body {
    white-space: normal;

    h2,
    h3 {
      margin: 0;
      font-size: 15px;
    }
    .dish_calories {
      float: right;
    }
    .customization {
      color: red;
    }
  }
  .dish_image {
    width: 70px;
    height: 70px;
    padding: 0 10px;
  }
  .dish_type {
    width: 15px;
    height: 15px;
    padding: 0 10px;
  }
  img {
    width: 100%;
    margin: 0;
    height: 100%;
  }
}
