.card_button {
  background: green;
  border-radius: 10px;
  width: 100px;
  color: white;
  button {
    color: white;
    font-size: 20px;
    padding: 6px 15px;
    border: none;
    background: transparent;
  }
}
