.menu_list {
  color: #808080;
  font-weight: 500;
  position: relative;
  padding: 2px 5px;
  white-space: nowrap;
  overflow: scroll;
  overflow-y: hidden;
  border-bottom: 1px solid #0000007a;
  li {
    display: inline-block;
    list-style-type: none;
    position: relative;
    padding-right: 20px;
    cursor: pointer;
  }
  .active_li {
    border-bottom: 2px solid;
    padding-bottom: 3px;
    color: red;
  }
}

.app_header {
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  color: #808080;

  h1 {
    margin: 0;
    padding: 15px 20px;
  }

  h3 {
    margin: 0;
    padding: 22px;
  }

  .arrow_button {
    background: transparent;
    border: none;
    padding: 20px 10px;
    height: 1px;
  }

  .cart {
    padding-top: 15px;
    .count_span {
      position: absolute;
      top: 15px;
      right: 20px;
      border-radius: 50%;
      background-color: #dc1313;
      padding: 1px 5px;
      color: white;
    }
  }
}

.item_list {
  display: flex;
  flex-wrap: wrap;
  }

.menu_list::-webkit-scrollbar {
  height: 1px;
}

.menu_list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.menu_list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
